#wpbody-content >.updated, #wpbody-content > #message,#wpfooter{ display: none;}
body.wos_view  #wpwrap {
    background-color: #2c3e50;
    color: #FFF;
}
#wpcontent {
    padding-left: 0px;
}
body.wos_view #wpcontent {
    padding: 0px !important;
    margin: 0px !important;
}
body.wos_view #osdb_bootstraped {
    margin: 0px;
}
body #osdb_bootstraped .bootstrap-switch-primary {
    color: #FFF;
    background-color: #1abc9c;
}
#osdb_bootstraped .form-control {
    display: inline-block;
    width: 280px;
    max-width: 100%;
}
#osdb_bootstraped .form-control.wos_colorpicker {
    width: 110px;
}
#osdb_bootstraped .form-group > label {
    display: block;
    line-height: 20px;
}

#osdb_bootstraped .wos_colorPreview {
    width: 38px;
    height: 38px;
    border-radius: 19px;
    border: 2px solid #bdc3c7;
    display: inline-block;
    margin-right: 14px;
    position: relative;
    top: 15px;    
    -webkit-transition: background-color 0.8s;
    transition: background-color 0.8s;
}
#osdb_bootstraped a>.glyphicon {
    margin-right: 6px;
}
body.rtl #osdb_bootstraped a>.glyphicon { 
    margin-right: 0px;
    margin-left: 6px;    
}

#osdb_bootstraped .bootstrap-switch {
    margin-top: 14px;
    margin-bottom: 12px;
    direction: ltr;
}
#osdb_bootstraped select[name="key_nextWin_1"],#osdb_bootstraped select[name="key_prevWin_1"],#osdb_bootstraped select[name="key_prevWin_2"]{
    width: 100px;
}
#osdb_bootstraped select[name="key_nextWin_2"],#osdb_bootstraped select[name="key_prevWin_3"]{
    width: 60px;
}
#osdb_bootstraped .wos_fieldBtn > span.glyphicon {
   margin: 0px;
}
#osdb_bootstraped .bootstrap-switch.bootstrap-switch-wrapper {
    margin-top: 0px;
}
#osdb_bootstraped  .ui-slider {
    margin-top: 16px;    
    max-width: 240px;
}
#osdb_bootstraped  .ui-slider .tooltip.top {
    display: none;    
}
#osdb_bootstraped .ui-slider .tooltip-inner {
    width: 73px;    
    margin-left: -12px;
    margin-top: -4px;
    background-color: #f39c12;
}
#osdb_bootstraped  .ui-slider .tooltip.top .tooltip-arrow {
    border-top-color: #f39c12;    
}
#osdb_bootstraped .wos_topBar {
    background-color: #34495e;
    margin-bottom: 18px;
}
#osdb_bootstraped .wos_topBar > a {
    display: inline-block;
    width: 50%;
    padding: 10px;
    color: #FFF;
    background-color: transparent;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;    
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}
#osdb_bootstraped .wos_topBar > a.wos-active {
    background-color: #1abc9c;
}
#osdb_bootstraped h6 {
    margin-top: 0px;
    padding-bottom: 8px;
    border-bottom: 1px dashed #1abc9c;
    color: #1abc9c;
}
#osdb_bootstraped input[type="text"]:not(.wos_colorpicker) {
    margin-top: 12px;
}

@media screen and (max-width: 1100px) {
    #osdb_bootstraped .wos_fieldBtn {
        margin-top: 6px !important;
    }
}
@media screen and (max-width: 390px) {
    #osdb_bootstraped .wos_colorPreview {        
        top: 0px;
        margin-bottom: 7px;
        display: block;
    }
}
@media screen and (max-width: 940px) {
   /* #osdb_bootstraped .wos_colorPreview {      
        top: 20px;;
    }*/
}
@media screen and (max-width: 964px) {
    #osdb_bootstraped [name="key_prevWin_1"],    
    #osdb_bootstraped [name="key_prevWin_2"],
    #osdb_bootstraped [name="key_prevWin_3"],
    #osdb_bootstraped [name="key_nextWin_1"],
    #osdb_bootstraped [name="key_nextWin_2"]
    {  
        margin-top: 4px;
    }
    
}
